@background: #D8D6D1;
@text: #B1ABA3;
@input: #ECF2F4;
@blue: #1D2C37;
@white: #fff;
@green: #3BC0C3;
@menuSize: 200px;

body {
    background-color: @background;
}

.center {
    text-align: center;
}

.pure-alert-error {
    position: absolute;
    width: 25%;
    left: 35%;
    top: 10%;
    padding: 0;
    margin: 0 1em;
    display: none;
    
    ul {
        list-style: none;   
    }
    
    .fa-times {
        position: absolute;
        right: 5%;
        top: 35%;
        
        &:hover {
            cursor: pointer;
        }
    }
}

/* Login form */
#loginbox {
    position: absolute;
    left: 35%;
    top: 20%;
    background-color: @white;
    width: 25%;
    padding: 1em;
    color: @text;
    border-radius: 5px;
    box-shadow: 5px 5px 3px darken(@background, 20%);
    
    .form-group {
        padding: 0.5em 0;
        
        input {
            background-color: @input
        }
    }
}

#layout {
    padding-left: @menuSize;
    position: relative;
    
    #nav {
        background-color: @blue; 
        margin-left: -@menuSize;
        width: @menuSize;
        height: 100%;
        position: fixed;
        top: 0px;
        bottom: 0px;
        overflow: auto;
        
        .nav-inner {
            padding: 1.5em 0;
            
            img {
                padding: 0 1em;
            }
            
            .pure-menu-heading {
                font-size: small;
            }
                
            .pure-menu-item {
                padding: 0.2em 0;   
            }
            
            a.pure-menu-link {
                color: @white;
                
                &:hover {
                    background-color: darken(@blue, 10%);
                }
            }
        }
        
        #logout {
            position: fixed;
            bottom: 0;
            background-color: darken(@blue, 10%);
            padding: 1.5em 0;
            text-align: right;
            width: 200px;

            a {
                margin-right: 10px
            }
        }
    }

    #main {
        bottom: 0px;
        left: @menuSize;
        overflow: auto;
        position:static;
        right: 0px;
        
        h1 {
            color: @blue;
            font-size: 1.4em;
            margin-left: 4em;
        }
        
        .content {
            background-color: @white;
            border-radius: 5px;
            box-shadow: 2px 2px 5px darken(@background, 20%);
            color: @blue;
            font-size: 90%;
            margin: 1em 5em;
            padding: 2em 3em;
            
            table {
                width: 100%;   
            }
            
            .header {
                background-color: @green;
                padding: 1em;
                color: @white;
                border-radius: 5px;

                h2 {
                    margin: 0;
                }
            }
            
            .bills {
                margin-top: 2em;   
            }
            
            .statement {
                margin-top: 2em;
                display: none;
                
                .close {
                    float: right;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
                        
                .body {
                    padding: 1em;
                    
                    .heading {
                        text-align:right; 
                        font-style: italic;
                    }
                    
                    p {
                        margin: 0.2em;   
                    }
                    
                    .pure-badge {
                        vertical-align: top!important;
                    }
                    
                    .sentance {
                        text-transform: capitalize;   
                    }
                        
                    .no-margin {
                        margin-top: 0;   
                    }
                }
            }
        }
    }
}
