<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sky | {% block title %}{% endblock %}</title>
        <meta name="description" content="Demo app">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link rel="stylesheet" href="{{ static('bower_components/pure/pure-min.css') }}"-->
        <link rel="stylesheet" href="{{ static('css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ static('css/pure-extras.css') }}">
        <!--link rel="stylesheet" href="{{ static('bower_components/fontawesome/css/font-awesome.min.css') }}"-->
        <link rel="stylesheet" href="{{ static('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/site.css') }}">
        <!--<script type="text/javascript" src="{{ static('bower_components/jquery/dist/jquery.min.js') }}"></script>-->
        <script type="text/javascript" src="{{ static('js/libs/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ static('js/libs/jquery-ui.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p>You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a>.</p>
        <![endif]-->
        
        <noscript>You browser does not support JavaScript. <a href="http://browsehappy.com/">Upgrade your browser today</a>.</noscript>

        {% block body %}


        {% endblock %}
    </body>
</html>