{% extends 'base.html' %}

{% block title %}
Account
{% endblock %}

{% block body %}
<!--
<script type="text/javascript" src="{{ static('bower_components/underscore/underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ static('bower_components/backbone/backbone.js') }}"></script>
<script type="text/javascript" src="{{ static('bower_components/backbone-associations/backbone-associations-min.js') }}"></script>-->
<script type="text/javascript" src="{{ static('js/libs/underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/libs/backbone.js') }}"></script>
<script type="text/javascript" src="{{ static('js/libs/backbone-associations-min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/libs/template-3.0.2.js') }}"></script>
<script type="text/javascript" src="{{ static('js/templates.js') }}"></script>
<script type="text/javascript" src="{{ static('js/models/statement.js') }}"></script>
<script type="text/javascript" src="{{ static('js/views/dashboard.js') }}"></script>
<script type="text/javascript" src="{{ static('js/views/bills.js') }}"></script>
<script type="text/javascript" src="{{ static('js/app.js') }}"></script>

<div id="layout" class="pure-g">
    <div id="nav" class="pure-u">
        <div class="nav-inner">
            <img src="{{ static('images/logo-small.png') }}" alt="Sky logo" title="Sky logo" />
            <div class="pure-menu">
                <span class="pure-menu-heading">Main</span>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="home" class="pure-menu-link">
                            <i class="fa fa-tachometer fa-lg"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="bills" class="pure-menu-link">
                            <i class="fa fa-credit-card fa-lg"></i>
                            Bills
                        </a>
                    </li>
                </ul>
            </div>
            <div id="logout">
                <a href="logout" class="pure-button pure-button-primary" data-bypass="true">
                    <i class="fa fa-power-off fa-rotate-90"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
    
    <div id="main" class="pure-u-1">
        <h1>Dashboard</h1>
        <div class="content">
            <!-- Content goes here -->
        </div>
    </div>
</div>
{% endblock %}
