{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="pure-alert pure-alert-error">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        <i class="fa fa-times"></i>
    </div>
  {% endif %}
{% endwith %}

<div id="loginbox">
    
    <div class="center">
        <img src="{{ static('images/logo.png') }}" alt="Sky logo" title="Sky logo" />
        <h2>Believe in better</h2>
    </div>
    
    <form id="loginForm" action="/" method="post" class="pure-form pure-form-stacked">
        <fieldset>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="Email Address" class="pure-input-1">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password" class="pure-input-1">
            </div>
            
            <div class="form-group center">
                <button type="submit" class="pure-button pure-button-primary pure-input-1-2 pure-button-large">Login</button>
            </div>
        </fieldset>
    </form>
</div>


<script type="text/javascript">
 $(function () {
     var email = $('#email'), password = $('#password'), box = $('#loginbox'), form = $('#loginForm');

     $('.pure-alert').fadeIn();

     form.submit(function (e) {
         if (email.val() === "" || password.val() === "") {
             e.preventDefault();
             box.effect('shake');
         }
     });

     $('.pure-alert .fa-times').click(function () {
        $(this).parent().fadeOut(400, function () { this.remove(); });
     });
 });
</script>
{% endblock %}
